
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0077ff;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="/assets/logo.png" class="img-fluid" width="80px" height="80px" alt="">Control De Sucursales</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item">
            <a class="nav-link" routerLink='/login' routerLinkActive='active'><h3>Iniciar Sesion McDonald's</h3> </a>
          </li>
        </ul>



        
<!--
        <div class="d-flex" *ngIf="_sucursalService.obtenerIdentidad()">
          <img *ngIf="_sucursalService.obtenerIdentidad().imagen" [src]="_sucursalService.obtenerIdentidad().imagen" class="user-image">
          <img *ngIf="_sucursalService.obtenerIdentidad().imagen === null" src="/assets/programmer.png" class="user-image">
          <a class="nav-link">{{ _sucursalService.obtenerIdentidad().username }}</a>
        </div>
-->

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-md-auto gap-2">
            <li class="nav-item">
            </li>
            <li>
              <div class="d-flex" *ngIf="_sucursalService.obtenerIdentidad()">
                <img src="/assets/programmer.png" class="user-image">
                <a class="nav-link">  <h4>{{  _sucursalService.obtenerIdentidad().nombre }}</h4></a>
              </div>
              <a *ngIf="_sucursalService.obtenerIdentidad() != null"  class="btn btn-danger"    role="button"  aria-expanded="false" data-bs-toggle="modal" data-bs-target="#CerrarSesion" ><i class="bi bi-person-fill me-2"> </i>  <h5>Cerrar Sesion</h5></a>

            </li>
          </ul>
          </div>

      </div>
    </div>
</nav>



<!-- Cerrar Sesion -->
<div class="modal fade" id="CerrarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cerrar Sesion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="text-center" role="group" aria-label="Basic example">
        <a class="navbar-brand" href="#"> <img src="/assets/McDonalds.jpg" class="img-fluid" width="150px" height="150px" alt=""></a>
      </div>
      <div class="modal-body text-center text-uppercase ">
        ¿Estás seguro/a de que quieres Cerrar Sesion?

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No, Volver</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
         (click)="cerrarSesion()" routerLinkActive='active'  routerLink="/login" >Si, Cerrar Sesion</button>
      </div>
    </div>
  </div>
</div>





