<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Usuario</th>
      <th scope="col">Rol</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sucur of sucursalesList">
      <th scope="row">{{ sucur._id }}</th>
      <td>{{sucur.nombre}}</td>
      <td>{{sucur.direccion}}</td>
      <td>{{sucur.usuario}}</td>
      <td>{{sucur.rol}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-success">Agregar</button>
          <button type="button" class="btn btn-warning" (click)="obtenerEmpresaID(empre._id)">Editar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
      </td>
    </tr>

  </tbody>
</table>
